input[type=text] {
    
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    
}


.links {
    
    overflow: hidden;
    background-color: black;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    
}

.links a {
    
    float: left;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.acc {
    
     text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    
    font-size: 17px;
}